/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Base Scss*/
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/*Size of pages*/
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.bold-text {
  font-weight: 700;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

/***Header***/
.navigation {
  margin-top: 20px;
  background-color: #ccc;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: block;
  font-size: 2.4rem;
  margin-right: 100px;
  font-family: "Agbalumo", sans-serif;
  cursor: pointer;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar__item {
  padding: 15px 20px;
}
.nav-bar__item:hover {
  background-color: #bbb;
}

/*Footer*/
.footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  background-color: #ccc;
  padding: 10px 0;
}
.footer__title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
}

.contact,
.quick-link,
.private,
.web-count {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: baseline;
}
.contact__desc,
.quick-link__desc,
.private__desc,
.web-count__desc {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
}

/*Homepage CSS*/
/*Website*/
.sub-title {
  margin-top: 10px;
  margin-left: -155px;
  padding: 5px 0 10px 0;
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.sub-title::before {
  content: "";
  width: 120px;
  height: 1px;
  position: relative;
  border: solid;
  top: 28px;
  left: 155px;
}

.main-part {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.website-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5px;
}
.website-content__title {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.website-content__desc {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
}

/*content*/
.content {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__img {
  max-width: 300px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 15%;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.content-introduce {
  margin-left: 30px;
  margin-right: 30px;
}
.content-introduce__title {
  font-size: 2.2rem;
  font-weight: 700;
}
.content-introduce__desc {
  margin-top: 20px;
  margin-right: 0;
  font-style: italic;
  font-size: 2rem;
  line-height: 1.5;
}

/*Banner*/
.banner_img {
  display: block;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
}

.row {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.website-part {
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33.33%;
  min-height: 200px;
}
.website-part__title {
  line-height: 1.6;
  font-size: 2.5rem;
  font-weight: 600;
}
.website-part__desc {
  line-height: 1.6;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 3);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.website-part__link {
  padding: 10px 20px;
  font-weight: 600;
}
.website-part__link:hover {
  background: #ccc;
}

.inner-website {
  display: flex;
  gap: 30px;
}

.sidebar {
  width: 30%;
  background-color: #333;
  padding: 20px;
  box-sizing: border-box;
}

.list-content {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list-content__item {
  margin-bottom: 10px;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  background-color: #555;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.list-content__item:hover {
  background-color: #777;
}

.content {
  margin: 0 150px 10px 10px;
  text-align: justify;
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  line-height: 1.9;
  text-indent: 30px;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

/*# sourceMappingURL=main.css.map */
